.side-by-side {
    display: flex;
    align-items: flex-start;
    background-color: #F5F5F5;
}

.main-container-data {
    padding: 0;
    margin: 0;
    background-image: url('../images/product_background.png');
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    justify-content: center;
}

.text-container {
    padding: 73px;
}

.head {
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.side-by-side-sections {
    display: flex;
    justify-content: space-between; /* Items will be evenly distributed */
}

.section {
    flex: 1 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 60px; 

}

.jina-discription{
    font-size: 20px;
    padding-left: 25px;
    padding-right: 47px;
    color: #fff;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.gaia-description{
   font-size: 20px;
   padding: 30px;
   color: #fff;
   font-weight: 700;
   font-family: Arial, Helvetica, sans-serif;
}

.section p {
    margin: 5px 0;
}
  
.sub-head {
    color: #fff;
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}