.container {
    width: 300px;
    min-width: 300px;
    min-height: 100vh;
    height: 100%;
    /* background-color: aquamarine; */
}

.logo {
    width: 200px;
    margin: 10px;
    margin-bottom: 0;
}

.jvao {
    color: #64467C;
    font-weight: bold;
    font-size: 40px;
}

.content-div {
    padding-left: 30px;
}

.item-container {
    display: flex; 
    align-items: center;
    padding: 10px;
    padding-top: 0;
}

.item-container-sub-item {
    display: flex;
    flex-direction: column;
}

.item-icon {
    width: 28px;
    height: 28px;
    margin-right: 10px; 
}

.item-text {
    color: #64467C;
    font-size: 20px;
}

.sub-item {
    display: flex; 
    align-items: center;
    padding: 10px;
    padding-top: 0;
}

.sub-item-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px; 
}

.sub-item-text {
    color: #64467C;
    font-size: 20px;
}

.item-content {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
